body {
    background: #000;
    margin: 0;
    overflow: hidden;
  }
  
  #my_canvas {
    width: 200;
    height: 100;
    margin: auto;
  }

  #canvas_container{
    padding: 70px 0;
  text-align: center;
  }
  